//COLOURS

$color-primary: #006d77;
$color_primary-light:#83c5be;
$color_primary-dark: #ffddd2;

$color-grey-light-1: #f7f7f7;

$color_grey-dark: #777;
$color_white: #fff;
$color_black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-verical: 8rem;
$gutter-horizontal: 6rem;